:root {
  --mx-color-primary: #00A82D;
  --mx-color-accent: #2981D3;
  --mx-color-accent-dark: #2C6F94;
  --mx-color-code: #04067D;
  --mx-color-warn: #e74c3c;
  --mx-color-red: #E72D1F;
  --mx-color-dark-red: #C62525;
  --mx-color-pink: #FEAAAA;
  --mx-color-light-red: #ffe6e6;
  --mx-color-warn-yellow: #d3a200;
  --mx-color-yellow: #fffecd;
  --mx-color-text: #4A494A;
  --mx-color-black: #0D0E0F;
  --mx-color-grey: #A9A9A9;
  --mx-color-grey-light: #FAFAF9;
  --mx-color-grey-dark: #777777;
  --mx-color-grey-btn: #BFC2C8;
  --mx-color-border: #D2D1D2;
  --mx-color-bg: #f0f0f0;
  --mx-color-selected: #ECF7F0;
  --mx-color-ripple: rgba(236, 247, 240, .7);
}
